<html class="no-js css-menubar" lang="en">
		<head>
				<meta charset="utf-8">
				<title>Log In | e-Person</title>
			
				<link rel="apple-touch-icon" href="https://buu-person.buu.ac.th/images/backend/iconTitle.png">
				<link rel="shortcut icon" href="https://buu-person.buu.ac.th/images/backend/iconTitle.png">
			<!-- Stylesheets  -->

				<link rel="stylesheet" href="https://buu-person.buu.ac.th/css/mmenu/backend/site.min.css">
			
				<!-- Plugins -->

\
					

			
				<!-- Fonts -->



				<link rel="stylesheet" href="https://buu-person.buu.ac.th/css/newstyle-index.css?v=1.0.0">
			
						
			</head>
			<body class="animsition page-login-v2 layout-full page-dark widthImage-login" >
						<div class="page " data-animsition-in="fade-in" data-animsition-out="fade-out">
						<div class="page-content">
							<div class="page-brand-info text-center mtImage-1">
								<div class="brand">
									<img class="brand-img" src="https://buu-person.buu.ac.th/images/backend/iconlogin-01.svg" alt="...">
								</div>
								<div class="brand">
									<img class="brand-img" src="https://buu-person.buu.ac.th/images/backend/logo.svg" alt="...">
								</div>
							</div>
				
							<div class="page-login-main pt-15 pt-md-60 setLogo-login ">
								<div class="brand hidden-md-up text-center mb-25">
									<img class="brand-img imgLogin" src="https://buu-person.buu.ac.th/images/backend/iconlogin-03.svg" alt="...">
								</div>
								<h3 class="font-size-24 ColorGreyDark">Log In</h3>
				
								<form id="formLogin" name="formLogin" method="post" action="https://buu-person.buu.ac.th/chklogin" class="form-horizontal mt-35 fv-form fv-form-bootstrap4" autocomplete="off" novalidate="novalidate"><button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
									<input type="hidden" name="_token" value="ixcIPFeb7GAu27yDUrMz4numL9r5rMvstLve26sT">
									<div>
										
									</div>

									<div class="form-group form-material " data-plugin="formMaterial">

										<input type="text" class="form-control  empty" name="username">

										<label class="floating-label" for="inputText"><i class="icon md-account" aria-hidden="true"></i>&nbsp;&nbsp;Username</label>

									<small class="invalid-feedback" data-fv-validator="notEmpty" data-fv-for="username" data-fv-result="NOT_VALIDATED" style="display: none;">The username is required</small></div>

									<div class="form-group form-material floating" data-plugin="formMaterial">
										<input type="password" class="form-control form-ColorBrownGold empty" id="password" name="password" data-fv-field="password">
										<label class="floating-label" for="inputPassword"><i class="icon md-lock" aria-hidden="true"></i>&nbsp;&nbsp;Password</label>
									<small class="invalid-feedback" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="NOT_VALIDATED" style="display: none;">The password is required</small></div>
									<div class="form-group clearfix">
										<a class="float-right ColorGreyDark" href="https://myid.buu.ac.th/" target="_blank">Forget password <span class="vertical-align-middle"><i class="icon md-help-outline" aria-hidden="true"></i></span></a>
									</div>
									<button type="submit" class="btn btn-block btn-BgYellow white font-weight-600 mt-10 waves-effect waves-classic">Log In</button>
								</form>
								<div class="form-group clearfix">
									<a class="float-right ColorGreyDark" href="http://person.buu.ac.th/codes/index.php?r=2"><i class="icon md-open-in-new" aria-hidden="true"></i> ระบบบุคลากรเดิม (Traditional Website)</a>
								</div>
								<footer class="page-copyright">
									<p>© 2018 COMPUTER CENTER </p>
									<p>BURAPHA UNIVERSITY ALL RIGHT RESERVED.</p>
								</footer>
							</div>
				
						</div>
					</div>
			
				
				</body>
</html>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->